.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-card {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(219, 208, 208, 0.837);
  background-color: #fff;
}
